.cta {
  background: var(--color-cta-background);
  border-radius: 1rem;
  color: var(--color-cta-text);
  display: inline-flex;
  justify-content: center;
  max-width: 300px;
  min-width: 150px;
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  transition: 0.2s ease;
}

.cta:hover {
  background: var(--color-cta-background-hover);
  text-decoration: none;
}

.cta.secondary {
  background: var(--background-2);
  border: var(--color-secondary-hover) 1px solid;
  color: var(--color-secondary-hover);
}

.cta.secondary:hover {
  background: var(--color-card-background);
}

@media (min-width: 768px) {
  .cta {
    max-width: fit-content;
  }
}
