.cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(300px, 100%), 1fr)
  ); /* The min() function applies the smaller value of the two passed, to prevent overflow below 300px */
  justify-items: center;
  width: 100%;
}

.cards.numbered {
  gap: 0;
  grid-template-columns: repeat(1, 1fr);
}

.card {
  align-items: center;
  background-color: var(--color-card-background);
  border-radius: 0.5rem;
  box-shadow: 0 6px 18px rgba(16, 24, 40, 0.04);
  display: flex;
  flex-direction: column;
  max-width: 425px;
  padding: 3rem;
  text-align: center;
  width: 100%;
  transition:
    box-shadow 150ms ease,
    transform 150ms ease;
}

.card.numbered {
  background-color: transparent;
  border-bottom: var(--color-border) 1px solid;
  border-radius: 0;
  padding: 3rem 1.5rem;
}

.card.numbered:last-child {
  border-bottom: none;
}

.card h3 {
  font-size: var(--font-size-lg);
  margin: 1.5rem 0 1rem 0;
}

.card p {
  line-height: 150%;
}

.card svg {
  background-color: var(--color-secondary);
  border-radius: 100%;
}

.number {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.75rem;
}

@media (min-width: 1200px) {
  .cards,
  .cards.numbered {
    grid-template-columns: repeat(3, 1fr);
  }

  .card.numbered {
    border-right: var(--color-border) 1px solid;
    border-bottom: none;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem;
    box-shadow: none;
  }

  .card.numbered:last-child {
    border-right: none;
  }
}
